<ul class="md:flex-col md:min-w-full flex flex-col list-none">
  <li class="items-center">
    <a
      [routerLink]="[dashboardLink]"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #userCMSDashboard="routerLinkActive"
      [ngClass]="
        userCMSDashboard.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-slate-700 hover:text-slate-500'
      "
    >
      <i
        class="fas fa-house-chimney mr-2 text-lg"
        [ngClass]="
          userCMSDashboard.isActive ? 'opacity-75' : 'text-slate-300'
        "
      ></i>
      Dashboard
    </a>
  </li>

  <li class="items-center">
    <a
      [routerLink]="[reportLink]"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #userReports="routerLinkActive"
      [ngClass]="
        userReports.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-slate-700 hover:text-slate-500'
      "
    >
      <i
        class="fas fa-file-lines mr-2 text-lg"
        [ngClass]="
          userReports.isActive ? 'opacity-75' : 'text-slate-300'
        "
      ></i>
      Reports
    </a>
  </li>

  <li class="items-center">
    <a
      [routerLink]="[historyLink]"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #userCMSHistory="routerLinkActive"
      [ngClass]="
        userCMSHistory.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-slate-700 hover:text-slate-500'
      "
    >
      <i
        class="fas fa-clock-rotate-left mr-2 text-lg"
        [ngClass]="
          userCMSHistory.isActive ? 'opacity-75' : 'text-slate-300'
        "
      ></i>
      History
    </a>
  </li>
</ul>
