<footer class="block py-4">
  <div class="flex-container mx-auto px-4">
    <hr class="mb-4 border-b-1 border-slate-200" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4">
        <div
          class="text-sm text-slate-500 font-semibold py-1 text-center md:text-left"
        >
          Created by Ti'Ara Carroll
        </div>
      </div>
      <div class="w-full md:w-8/12 px-4">
        <ul class="flex flex-wrap list-none md:justify-end justify-center">
          <li>
            <a
              class="text-slate-500 font-semibold text-sm block py-1 px-3"
            >
              UI Kit Creative Tim
            </a>
          </li>
          <li>
            <a
              href="https://github.com/tiara28307/kam-system/blob/master/LICENSE"
              class="text-slate-500 hover:text-slate-800 text-sm font-semibold block py-1 px-3"
            >
              GNU License
            </a>
          </li>
          <li>
            <a
              href="https://www.freepik.com/vectors/directory"
              class="text-slate-500 font-semibold text-sm block py-1 px-3"
            >
              Freepik
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
