<div class="flex justify-center">
  <h3 class="font-semibold text-xl text-slate-700">
    Review Application
  </h3>
</div>

<div *ngIf="appDetails[0].applicationType === 'INDIVIDUAL'">
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Personal Details
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Full Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].firstName}} {{appDetails[0].lastName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Maiden Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].maidenName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Father Full Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].fatherName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Mother First Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].motherName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Mother Maiden Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].motherMaidenName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Spouse Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].spouseName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Marital Status
        </label>
        <p class="text-theme-500 mb-6 lowercase">{{appDetails[0].maritalStatus}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Gender
        </label>
        <p class="text-theme-500 mb-6 lowercase">{{appDetails[0].gender}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Date of Birth
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].dob}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Citizenship Status
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].citizenshipStatus}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Occupation
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].occupation}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Politically Exposed Person (PEP)?
        </label>
        <p class="text-theme-500 mb-6 lowercase">{{appDetails[0].isPEP}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Relative or Associate of PEP?
        </label>
        <p class="text-theme-500 mb-6 lowercase">{{appDetails[0].isRcaPEP}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        PEP Exposure
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].pepExposure}}</p>
      </div>
    </div>

    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        PEP's Full Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].pepFullName}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Proof of Identity
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Document Type
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poiType}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Document File
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poiFile}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Address Details
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Current Address
        </label>
        <p class="text-theme-500">{{appDetails[0].address}}</p>
        <p class="text-theme-500">{{appDetails[0].address2}}</p>
        <p class="text-theme-500 mb-6">{{appDetails[0].country}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Permanent Address
        </label>
        <p class="text-theme-500">{{appDetails[0].permanentAddress}}</p>
        <p class="text-theme-500">{{appDetails[0].permanentAddress2}}</p>
        <p class="text-theme-500 mb-6">{{appDetails[0].permanentCountry}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Proof of Address
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Document Type
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poaType}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Document File
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poaFile}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Contact Information
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Email
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].email}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Phone Number
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].phone}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Declaration
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Declaration accepted?
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].isDeclared}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="appDetails[0].applicationType === 'BUSINESS'">
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Company Details
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Company Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].companyName}}</p>
      </div>
    </div>

    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Employee Name
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].employeeFirstName}} {{appDetails[0].employeeLastName}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Date of Incorporation
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].dateOfIncorporation}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          State of Incorporation
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].stateOfIncorporation}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Registration Number
        </label>
        <p class="text-theme-500 mb-6 lowercase">{{appDetails[0].registrationNumber}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Date of Commencement
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].dateOfCommencement}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Company Type
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].companyType}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Proof of Business
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Document Type
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poiType}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Document File
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poiFile}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Address Details
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Company Address
        </label>
        <p class="text-theme-500">{{appDetails[0].address}}</p>
        <p class="text-theme-500">{{appDetails[0].address2}}</p>
        <p class="text-theme-500 mb-6">{{appDetails[0].country}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Proof of Address
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Document Type
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poaType}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Document File
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].poaFile}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Employee Contact Information
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Email
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].employeeEmail}}</p>
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
        Phone Number
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].employeePhone}}</p>
      </div>
    </div>
  </div>
  
  <hr class="mt-6 border-b-1 border-slate-300" />
  
  <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
    Declaration
  </h6>
  
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Declaration accepted?
        </label>
        <p class="text-theme-500 mb-6">{{appDetails[0].isDeclared}}</p>
      </div>
    </div>
  </div>
</div>
