<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <div class="flex flex-row justify-between">
          <h3 class="font-semibold text-base text-slate-700">KYC Application</h3>
          <i class="fas fa-user-check fa-lg mt-3 pl-4"></i>
        </div>  
        <div class="block text-slate-600 text-sm font-bold mt-4">
          ID <button class="font-semibold mb-2 pl-3 hover:text-red-700 focus:outline-none">K00000001</button>
        </div>
        <hr class="mt-1 border-b-1 border-slate-300" />
        <div class="block text-slate-600 text-sm font-bold mt-4">
          <i class="fas fa-circle-check fa-lg mt-3 text-emerald-500"></i>
          <span class="text-slate-600 font-normal mb-2 pl-3">Personal Details</span>
        </div>
        <div class="block text-slate-600 text-sm font-bold mt-4">
          <i class="fas fa-circle-check fa-lg mt-3 text-emerald-500"></i>
          <span class="text-slate-600 font-normal mb-2 pl-3">ID Proof</span>
        </div>
        <div class="block text-slate-600 text-sm font-bold mt-4">
          <i class="fas fa-circle-check fa-lg mt-3 text-emerald-500"></i>
          <span class="text-slate-600 font-normal mb-2 pl-3">Address Details</span>
        </div>
        <div class="block text-slate-600 text-sm font-bold mt-4">
          <i class="fas fa-circle-xmark fa-lg mt-3 text-red-600"></i>
          <span class="text-slate-600 font-normal mb-2 pl-3">Proof of Address</span>
        </div>
        <div class="block text-slate-600 text-sm font-bold mt-4">
          <i class="fas fa-circle-check fa-lg mt-3 text-emerald-500"></i>
          <span class="text-slate-600 font-normal mb-2 pl-3">Contact Information</span>
        </div>
        <div class="block text-slate-600 text-sm font-bold mt-4">
          <i class="fas fa-circle-xmark fa-lg mt-3 text-red-600"></i>
          <span class="text-slate-600 font-normal mb-2 pl-3">Declaration</span>
        </div>
      </div>
    </div>
  </div>
</div>
