<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-base text-slate-700">Current Applications</h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto overflow-y-auto max-h-280-px">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 bg-slate-100 text-slate-500 align-middle border border-solid border-slate-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Application ID
          </th>
          <th
            class="px-6 bg-slate-100 text-slate-500 align-middle border border-solid border-slate-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Request ID
          </th>
          <th
            class="px-6 bg-slate-100 text-slate-500 align-middle border border-solid border-slate-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Company
          </th>
          <th
            class="px-6 bg-slate-100 text-slate-500 align-middle border border-solid border-slate-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Start Date
          </th>
          <th
            class="px-6 bg-slate-100 text-slate-500 align-middle border border-solid border-slate-200 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
          >
            Status
          </th>
        </tr>
      </thead>
      
      <tbody class="overflow-y-scroll">
        <tr *ngFor="let application of applications">
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left hover:text-red-700 font-semibold">
            <a [routerLink]="['/user/kyc/onboarding/dashboard']">
              {{application.applicationId}}
            </a>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            03.23.2022
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            {{application.company}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            {{application.startDate}}
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left lowercase font-semibold">
            <i class="fas fa-circle {{getStatusColor(application.status)}} mr-2"></i>{{application.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
