<h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
  Company Information
</h6>
<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Company Name
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Company Name"
      />
    </div>
  </div>
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Phone Number
      </label>
      <input
        type="tel"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="XXX-XXX-XXXX"
      />
    </div>
  </div>
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Company Type
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Company Type"
      />
    </div>
  </div>
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Website
      </label>
      <input
        type="url"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Website"
      />
    </div>
  </div>

  <div class=" w-full lg:w-6/12 px-4 flex flex-grow gap-6">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2 mr-4"
      >
        Address
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Street Address"
      />
    </div>
  
    <div class="relative w-6/12 mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2 ml-3"
      >
        City
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="City"
      />
    </div>

    <div class="relative w-6/12 mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Country
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Country"
      />
    </div>

    <div class="relative w-6/12 mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Postal Code
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Postal Code"
      />
    </div>
  </div>
</div>

<hr class="mt-6 border-b-1 border-slate-300" />

<h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
  User Information
</h6>
<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        First Name
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="First Name"
      />
    </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Last Name
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Last Name"
      />
    </div>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Email
      </label>
      <input
        type="email"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Email"
      />
    </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Phone Number
      </label>
      <input
        type="tel"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="XXX-XXX-XXXX"
      />
    </div>
  </div>
</div>

<div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Password
        </label>
        <input
          type="password"
          class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
          placeholder="Password"
        />
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-slate-600 text-xs font-bold mb-2"
        >
          Confirm Password
        </label>
        <input
          type="password"
          class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
          placeholder="Confirm Password"
        />
      </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-slate-600 text-xs font-bold mb-2"
      >
        Job Title
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Job Title"
      />
    </div>
  </div>
</div>
