<a
  class="text-slate-500 block"
  href="#pablo"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  <div class="items-center flex">
    <span
      class="w-12 h-12 text-sm text-white bg-slate-100 inline-flex items-center justify-center rounded-full"
    >
      <img
        alt="..."
        class="w-full rounded-full align-middle border-none shadow-lg"
        src="assets/img/avatar.png"
      />
    </span>
  </div>
</a>
<div class="min-w-48 z-50" #popoverDropdownRef>
  <div
    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1 min-w-48"
    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  >
    <a
      [routerLink]="[settingsLink]"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700 hover:text-red-700"
    >
    <i class="fas fa-user-gear mr-2 text-md"></i>
      Settings
    </a>
    <a
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-slate-700"
    >
    <i class="fas fa-bell mr-2 text-md"></i>
      Notifications
    </a>
    <button
      class="text-sm py-2 px-4 font-normal text-left w-full whitespace-nowrap bg-transparent text-slate-700 hover:text-red-700 focus:outline-none"
      (click)="onLogout()"
    >
    <i class="fas fa-door-open mr-2 text-md"></i>
      Logout
    </button>
  </div>
</div>
