<h6 class="text-blueGray-400 text-sm mt-0 mb-6 font-bold uppercase">
  User Information
</h6>
<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        First Name
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="First Name"
      />
    </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Last Name
      </label>
      <input
        type="text"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Last Name"
      />
    </div>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Email
      </label>
      <input
        type="email"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="Email"
      />
    </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
        htmlFor="grid-password"
      >
        Phone Number
      </label>
      <input
        type="tel"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
        placeholder="XXX-XXX-XXXX"
      />
    </div>
  </div>
</div>

<div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Password
        </label>
        <input
          type="password"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
          placeholder="Password"
        />
      </div>
    </div>
  
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Confirm Password
        </label>
        <input
          type="password"
          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
          placeholder="Confirm Password"
        />
      </div>
  </div>
</div>
