<div class="w-full xl:w-10/12 px-4">
  <form
      class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3"
    >
    <div class="relative flex w-full flex-wrap items-stretch">
      <span
        class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
        ><i class="fas fa-search"></i
      ></span>
      <input
        type="text"
        placeholder="Search applications..."
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring-0 w-full pl-10"
      />
    </div>
  </form>
</div>
<div class="flex flex-wrap mt-16">
  <div class="flex flex-wrap items-center mb-4">
    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
      <h3 class="font-semibold text-slate-700 text-2xl">
        Application Screenings
      </h3>
    </div>
  </div>
  <div class="w-full xl:w-10/12 px-4">
    <app-card-history></app-card-history>
  </div>
</div>
