<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-10/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-slate-600 text-lg font-bold">Sign Up</h6>
            <p class="text-slate-600 text-md mt-2">Select a user type</p>
          </div>
          <div class="btn-wrapper text-center mt-6">
            <mat-button-toggle-group name="userType" aria-label="User Type">
              <mat-button-toggle 
                class="{{ isCustomer ? 'bg-sky-500' : 'bg-white' }} {{ isCustomer ? 'text-white' : 'text-slate-700' }} text-sm font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-3 mb-1 ease-linear transition-all duration-150" 
                (click)="toggleIsCustomer($event)"
                >
                  Customer
              </mat-button-toggle>
              <mat-button-toggle 
                class="{{ isCompany ? 'bg-sky-500' : 'bg-white' }} {{ isCompany ? 'text-white' : 'text-slate-700' }} text-sm font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-3 mb-1 ease-linear transition-all duration-150" 
                (click)="toggleIsCompany($event)"
                >
                  Company
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <hr class="mt-6 border-b-1 border-slate-300" />
        </div>
        
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          
          <!--
            Register form for Customer User
          -->
          <form [formGroup]="customerRegisterForm" *ngIf="isCustomer">
            <div>
              <h6 class="text-slate-400 text-sm mt-0 mb-6 font-bold uppercase">
                User Information
              </h6>
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      First Name
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="First Name"
                      formControlName="customerFirstName"
                    />
                    <div *ngIf="customerRegisterForm.controls['customerFirstName'].invalid && (customerRegisterForm.controls['customerFirstName'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="customerRegisterForm.controls['customerFirstName'].errors.required">
                        Please enter first name
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Last Name
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Last Name"
                      formControlName="customerLastName"
                    />
                    <div *ngIf="customerRegisterForm.controls['customerLastName'].invalid && (customerRegisterForm.controls['customerLastName'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="customerRegisterForm.controls['customerLastName'].errors.required">
                        Please enter last name
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Email
                    </label>
                    <input
                      type="email"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Email"
                      formControlName="customerEmail"
                    />
                    <div *ngIf="customerRegisterForm.controls['customerEmail'].invalid && (customerRegisterForm.controls['customerEmail'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="customerRegisterForm.controls['customerEmail'].errors.required">
                        Please enter email
                      </div>
                      <div *ngIf="customerRegisterForm.controls['customerEmail'].errors.email">
                        Please use a valid email address
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Phone Number
                    </label>
                    <input
                      type="tel"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="XXX-XXX-XXXX"
                      formControlName="customerPhone"
                    />
                    <div *ngIf="customerRegisterForm.controls['customerPhone'].invalid && (customerRegisterForm.controls['customerPhone'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="customerRegisterForm.controls['customerPhone'].errors.pattern">
                        Please enter a valid phone number
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="flex flex-wrap">
                  <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-slate-600 text-xs font-bold mb-2"
                      >
                        Password
                      </label>
                      <input
                        type="password"
                        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                        placeholder="Password"
                        formControlName="customerPass"
                      />
                      <div *ngIf="customerRegisterForm.controls['customerPass'].invalid && (customerRegisterForm.controls['customerPass'].touched)" 
                        class="text-sm text-red-500 mt-1">
                        <div *ngIf="customerRegisterForm.controls['customerPass'].errors.required">
                          Please enter password
                        </div>
                        <div *ngIf="customerRegisterForm.controls['customerPass'].errors.pattern">
                          Invalid password. Must contain at least:
                          <ul class="list-disc px-6">
                            <li>8 characters</li>
                            <li>1 number</li>
                            <li>1 special character</li>
                            <li>1 uppercase letter</li>
                            <li>1 lowercase letter</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-slate-600 text-xs font-bold mb-2"
                      >
                        Confirm Password
                      </label>
                      <input
                        type="password"
                        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                        placeholder="Confirm Password"
                        formControlName="customerPassConfirm"
                      />
                      <div *ngIf="customerRegisterForm.controls['customerPassConfirm'].invalid && (customerRegisterForm.controls['customerPassConfirm'].touched)" 
                        class="text-sm text-red-500 mt-1">
                        <div *ngIf="customerRegisterForm.controls['customerPassConfirm'].errors.required">
                          Please confirm password
                        </div>
                      </div>
                      <div *ngIf="customerRegisterForm.controls['customerPassConfirm'].valid && (customerRegisterForm.controls['customerPassConfirm'].touched)" 
                        class="text-sm text-red-500 mt-1">
                        <div *ngIf="customerRegisterForm.hasError('notSame')">
                          Passwords do not match
                        </div>
                      </div>
                    </div>
                </div>
              </div>              
            </div>

            <div>
              <label class="inline-flex items-center cursor-pointer mt-6 px-2">
                <input
                  id="privacy-policy"
                  type="checkbox"
                  class="form-checkbox border-0 focus:ring-0 text-slate-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                  formControlName="customerPolicy"
                  required
                />
                <span class="ml-2 text-sm font-semibold text-slate-600">
                  I agree with the
                  <a [attr.href]="privacyPolicy" class="text-red-500">
                    Privacy Policy
                  </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-emerald-400 text-white active:bg-slate-600 disabled:bg-emerald-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="submit"
                (click)="onRegisterCustomerUser()"
                [disabled]="!customerRegisterForm.valid"
              >
                Create Account
              </button>
            </div>
          </form>

          <!--
            Register form for Company User
          -->
          <form [formGroup]="companyRegisterForm" *ngIf="isCompany">

            <div>
              <!--<app-fi-register [form]="registerForm"></app-fi-register> -->
              <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
                Company Information
              </h6>
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Company Name
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Company Name"
                      formControlName="companyName"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyName'].invalid && (companyRegisterForm.controls['companyName'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyName'].errors.required">
                        Please enter company name
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Phone Number
                    </label>
                    <input
                      type="tel"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="XXX-XXX-XXXX"
                      formControlName="companyPhone"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyPhone'].invalid && (companyRegisterForm.controls['companyPhone'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyPhone'].errors.pattern">
                        Please enter a valid phone number
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Company Type
                    </label>
                    <select 
                      formControlName="companyType" 
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                    >
                      <option hidden value="" disabled selected>Select Company Type</option>
                      <option 
                        *ngFor="let type of companyTypes | orderBy: 'name'"
                        [value]="type.code"
                      >
                      {{type.name}}
                      </option>
                  </select>
                  </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Website
                    </label>
                    <input
                      type="url"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Website"
                      formControlName="companyWebsite"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyWebsite'].invalid && (companyRegisterForm.controls['companyWebsite'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyWebsite'].errors.pattern">
                        Please enter a valid url
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class=" w-full lg:w-6/12 px-4 flex flex-grow gap-6">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2 mr-4"
                    >
                      Address
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Street Address"
                      formControlName="companyAddress"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyAddress'].invalid && (companyRegisterForm.controls['companyAddress'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyAddress'].errors.required">
                        Please enter company address
                      </div>
                    </div>
                  </div>
                
                  <div class="relative w-6/12 mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      City
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="City"
                      formControlName="companyCity"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyCity'].invalid && (companyRegisterForm.controls['companyCity'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyCity'].errors.required">
                        Please enter city
                      </div>
                    </div>
                  </div>

                  <div class="relative w-18 mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      State
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="ST"
                      formControlName="companyState"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyState'].invalid && (companyRegisterForm.controls['companyState'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyState'].errors.required">
                        Please enter state
                      </div>
                    </div>
                  </div>

                  <div class="relative w-6/12 mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Postal Code
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Postal Code"
                      formControlName="companyPostal"
                    />
                    <div *ngIf="companyRegisterForm.controls['companyPostal'].invalid && (companyRegisterForm.controls['companyPostal'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['companyPostal'].errors.required">
                        Please enter postal code
                      </div>
                      <div *ngIf="companyRegisterForm.controls['companyPostal'].errors.pattern">
                        Please enter a valid postal code
                      </div>
                    </div>
                  </div>
              
                  <div class="relative w-6/12 mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Country
                    </label>
                    <select 
                    formControlName="companyCountry" 
                    class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                    >
                      <option hidden value="" disabled selected>Select Country</option>
                      <option 
                        *ngFor="let country of countries | orderBy: 'name'"
                        [value]="country.code"
                      >
                      {{country.name}}
                      </option>
                  </select>
                  </div>
              
                </div>
              </div>
              
              <hr class="mt-6 border-b-1 border-slate-300" />
              
              <h6 class="text-slate-400 text-sm mt-3 mb-6 font-bold uppercase">
                User Information
              </h6>
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      First Name
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="First Name"
                      formControlName="employeeFirstName"
                    />
                    <div *ngIf="companyRegisterForm.controls['employeeFirstName'].invalid && (companyRegisterForm.controls['employeeFirstName'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['employeeFirstName'].errors.required">
                        Please enter first name
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Last Name
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Last Name"
                      formControlName="employeeLastName"
                    />
                    <div *ngIf="companyRegisterForm.controls['employeeLastName'].invalid && (companyRegisterForm.controls['employeeLastName'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['employeeLastName'].errors.required">
                        Please enter last name
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Email
                    </label>
                    <input
                      type="email"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Email"
                      formControlName="employeeEmail"
                    />
                    <div *ngIf="companyRegisterForm.controls['employeeEmail'].invalid && (companyRegisterForm.controls['employeeEmail'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['employeeEmail'].errors.required">
                        Please enter email
                      </div>
                      <div *ngIf="companyRegisterForm.controls['employeeEmail'].errors.pattern">
                        Please enter a valid email address
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Phone Number
                    </label>
                    <input
                      type="tel"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="XXX-XXX-XXXX"
                      formControlName="employeePhone"
                    />
                    <div *ngIf="companyRegisterForm.controls['employeePhone'].invalid && (companyRegisterForm.controls['employeePhone'].touched)" 
                      class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['employeePhone'].errors.pattern">
                        Please enter a valid phone number
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="flex flex-wrap">
                  <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-slate-600 text-xs font-bold mb-2"
                      >
                        Password
                      </label>
                      <input
                        type="password"
                        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                        placeholder="Password"
                        formControlName="employeePass"
                      />
                      <div *ngIf="companyRegisterForm.controls['employeePass'].invalid && (companyRegisterForm.controls['employeePass'].touched)" 
                      class="text-sm text-red-500 mt-1">
                        <div *ngIf="companyRegisterForm.controls['employeePass'].errors.required">
                          Please enter password
                        </div>
                        <div *ngIf="companyRegisterForm.controls['employeePass'].errors.pattern">
                          Invalid password. Must contain at least:
                          <ul class="list-disc px-6">
                            <li>8 characters</li>
                            <li>1 number</li>
                            <li>1 special character</li>
                            <li>1 uppercase letter</li>
                            <li>1 lowercase letter</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                      <label
                        class="block uppercase text-slate-600 text-xs font-bold mb-2"
                      >
                        Confirm Password
                      </label>
                      <input
                        type="password"
                        class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                        placeholder="Confirm Password"
                        formControlName="employeePassConfirm"
                      />
                      <div *ngIf="companyRegisterForm.controls['employeePassConfirm'].invalid && (companyRegisterForm.controls['employeePassConfirm'].touched)" 
                      class="text-sm text-red-500 mt-1">
                        <div *ngIf="companyRegisterForm.controls['employeePassConfirm'].errors.required">
                          Please confirm password
                        </div>
                      </div>
                      <div *ngIf="companyRegisterForm.controls['employeePassConfirm'].valid && (companyRegisterForm.controls['employeePassConfirm'].touched)" 
                        class="text-sm text-red-500 mt-1">
                        <div *ngIf="companyRegisterForm.hasError('notSame')">
                          Passwords do not match
                        </div>
                      </div>
                    </div>
                </div>
              
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-slate-600 text-xs font-bold mb-2"
                    >
                      Job Title
                    </label>
                    <input
                      type="text"
                      class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                      placeholder="Job Title"
                      formControlName="employeeJobTitle"
                    />
                    <div *ngIf="companyRegisterForm.controls['employeeJobTitle'].invalid && (companyRegisterForm.controls['employeeJobTitle'].touched)" 
                    class="text-sm text-red-500 mt-1">
                      <div *ngIf="companyRegisterForm.controls['employeeJobTitle'].errors.required">
                        Please enter job title
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>

            <div>
              <label class="inline-flex items-center cursor-pointer mt-6 px-2">
                <input
                  id="privacy-policy"
                  type="checkbox"
                  class="form-checkbox border-0 focus:ring-0 text-slate-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                  formControlName="companyPolicy"
                  required
                />
                <span class="ml-2 text-sm font-semibold text-slate-600">
                  I agree with the
                  <a [attr.href]="privacyPolicy" class="text-red-500">
                    Privacy Policy
                  </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-emerald-400 text-white active:bg-slate-600 disabled:bg-emerald-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="submit"
                (click)="onRegisterCompanyUser()"
                [disabled]="!companyRegisterForm.valid"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
        <div class="flex flex-wrap mb-4 px-3 py-2 relative mr-auto ml-auto">
          <div class="text-center text-md">
            Have an account?
            <a [routerLink]="['/auth/login']" class="text-sky-600 hover:text-slate-700 font-semibold">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.5)'}"></ngx-loading>
</div>
