<ul class="md:flex-col md:min-w-full flex flex-col list-none">
  <li class="items-center">
    <a
      [routerLink]="[dashboardLink]"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #userAMLDashboard="routerLinkActive"
      [ngClass]="
        userAMLDashboard.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-slate-700 hover:text-slate-500'
      "
    >
      <i
        class="fas fa-house-chimney mr-2 text-lg"
        [ngClass]="
          userAMLDashboard.isActive ? 'opacity-75' : 'text-slate-300'
        "
      ></i>
      Dashboard
    </a>
  </li>

  <li class="items-center">
    <a
      [routerLink]="[alertLink]"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #userAlerts="routerLinkActive"
      [ngClass]="
        userAlerts.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-slate-700 hover:text-slate-500'
      "
    >
      <i
        class="fas fa-triangle-exclamation mr-2 text-lg"
        [ngClass]="
          userAlerts.isActive ? 'opacity-75' : 'text-slate-300'
        "
      ></i>
      Alerts
    </a>
  </li>

  <li class="items-center">
    <a
      [routerLink]="[transactionLink]"
      class="text-xs uppercase py-3 font-bold block"
      routerLinkActive
      #userTransactions="routerLinkActive"
      [ngClass]="
        userTransactions.isActive
          ? 'text-red-600 hover:text-red-700'
          : 'text-slate-700 hover:text-slate-500'
      "
    >
      <i
        class="fas fa-file-invoice-dollar mr-2 text-lg"
        [ngClass]="
          userTransactions.isActive ? 'opacity-75' : 'text-slate-300'
        "
      ></i>
      Transactions
    </a>
  </li>
</ul>

