<div
  class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <div class="flex flex-row justify-between">
          <h3 class="font-semibold text-base text-slate-700">KYC Application</h3>
          <i class="fas fa-user-check fa-lg mt-3 pl-4"></i>
        </div> 
        <div *ngIf="!hasApplication" class="flex flex-row justify-center mt-6">
          <button
              class="bg-emerald-400 text-white active:bg-slate-600 disabled:bg-emerald-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-3 ease-linear transition-all duration-150"
              type="button"
              (click)="openApplication(applicationId)"
            >
              Start Application
            </button>
        </div>
        
        <div *ngIf="hasApplication">
          <div class="block text-slate-600 text-sm font-bold mt-4">
            ID <button class="font-semibold mb-2 pl-3 hover:text-red-700 focus:outline-none" (click)="openApplication(applicationId)">{{applicationId}}</button>
          </div>
          <hr class="mt-1 border-b-1 border-slate-300" />
          <div class="block text-slate-600 text-sm font-bold mt-4">
            <i class="fas {{getStatusIcon(stepStatusComplete.personalDetails)}} fa-lg mt-3 {{getStatusColor(stepStatusComplete.personalDetails)}}"></i>
            <span class="text-slate-600 font-normal mb-2 pl-3">Personal Details</span>
          </div>
          <div class="block text-slate-600 text-sm font-bold mt-4">
            <i class="fas {{getStatusIcon(stepStatusComplete.idProof)}} fa-lg mt-3 {{getStatusColor(stepStatusComplete.idProof)}}"></i>
            <span class="text-slate-600 font-normal mb-2 pl-3">ID Proof</span>
          </div>
          <div class="block text-slate-600 text-sm font-bold mt-4">
            <i class="fas {{getStatusIcon(stepStatusComplete.addressDetails)}} fa-lg mt-3 {{getStatusColor(stepStatusComplete.addressDetails)}}"></i>
            <span class="text-slate-600 font-normal mb-2 pl-3">Address Details</span>
          </div>
          <div class="block text-slate-600 text-sm font-bold mt-4">
            <i class="fas {{getStatusIcon(stepStatusComplete.proofOfAddress)}} fa-lg mt-3 {{getStatusColor(stepStatusComplete.proofOfAddress)}}"></i>
            <span class="text-slate-600 font-normal mb-2 pl-3">Proof of Address</span>
          </div>
          <div class="block text-slate-600 text-sm font-bold mt-4">
            <i class="fas {{getStatusIcon(stepStatusComplete.contact)}} fa-lg mt-3 {{getStatusColor(stepStatusComplete.contact)}}"></i>
            <span class="text-slate-600 font-normal mb-2 pl-3">Contact Information</span>
          </div>
          <div class="block text-slate-600 text-sm font-bold mt-4">
            <i class="fas {{getStatusIcon(stepStatusComplete.declaration)}} fa-lg mt-3 {{getStatusColor(stepStatusComplete.declaration)}}"></i>
            <span class="text-slate-600 font-normal mb-2 pl-3">Declaration</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
