<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-slate-200 border-0"
      >
        <div class="rounded-t mb-4 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-slate-600 text-lg font-bold">Sign In</h6>
          </div>
          <hr class="mt-6 border-b-1 border-slate-300" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form [formGroup]="loginForm">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-slate-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
                type="email"
                class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                placeholder="Email"
                formControlName="email"
              />
              <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].touched)" 
                class="text-sm text-red-500 mt-1">
                <div *ngIf="loginForm.controls['email'].errors.required">
                  Please enter email
                </div>
                <div *ngIf="loginForm.controls['email'].errors.email">
                  Please use a valid email address
                </div>
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-slate-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Password
              </label>
              <input
                type="password"
                class="border-0 px-3 py-3 placeholder-slate-300 text-slate-600 bg-white rounded text-sm shadow focus:outline-none focus:ring-0 w-full ease-linear transition-all duration-150"
                placeholder="Password"
                formControlName="password"
              />
              <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched)" 
                class="text-sm text-red-500 mt-1">
                <div *ngIf="loginForm.controls['password'].errors.required">
                  Please enter password
                </div>
              </div>
            </div>
            <!--
              Add Later
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 focus:ring-0 text-slate-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                  formControlName="rememberMe"
                />
                <span class="ml-2 text-sm font-semibold text-slate-600">
                  Remember me
                </span>
              </label>
            </div> -->

            <div class="text-center mt-6">
              <button
                class="bg-emerald-400 text-white active:bg-slate-600 disabled:bg-emerald-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-1/2 ease-linear transition-all duration-150"
                type="button"
                (click)="onLogin()"
                [disabled]="!loginForm.valid"
              >
                Login
              </button>
            </div>
          </form>
        </div>
        <div class="flex flex-wrap mb-2 px-3 py-3 relative">
          <div class="w-1/2">
            <a [routerLink]="['/auth/forgotpassword']" class="text-slate-500 hover:text-slate-700 font-semibold">
              <small>Forgot password?</small>
            </a>
          </div>
          <div class="w-1/2 text-right">
            <a [routerLink]="['/auth/signup']" class="text-sky-600 hover:text-slate-700 font-semibold">
              <small>Create new account</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
