<div>
  <!-- Card stats -->
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
      <app-card-dashboard-stats
        appSubtitle="Total Applications: "
        appTitle="{{ getTotalApplications() }}"
      ></app-card-dashboard-stats>
    </div>
    <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
      <app-card-dashboard-stats
        appSubtitle="Applications Submitted: "
        appTitle="{{ getApplicationsSubmitted() }}"
      ></app-card-dashboard-stats>
    </div>
    <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
      <app-card-dashboard-stats
        appSubtitle="Applications Approved: "
        appTitle="{{ getApplicationsApproved() }}"
      ></app-card-dashboard-stats>
    </div>
  </div>
</div>
